header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    max-height: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    position: relative;
}
.logo{
max-width: 100px;
}
.nav-li{
    list-style: none;
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
}

.nav-ul{
    display: inline;
    margin-right:5px;
}
.login-btn{
    padding: 10px;
    margin-right: 5px;
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s;
}
.btn{
    background-color: #4f46e5;
    color: #ffff;
    border-radius: 10px;
    border: 1px solid #4F46E5;
    padding: 10px;
    text-decoration: none;
    width: 100%;
    margin-right: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover{
    background-color: #4338CA;
    border: 1px solid #4338CA;
}
.login-btn:hover{
    background-color: #ece3e3;
}
.nav-li {
  position: relative;
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
}

.nav-li::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #4F46E5;
  transition: width 0.3s ease-in-out;
}
.nav-li:hover::after {
  width: 100%;
}
.container{
    display: none;
}
.desktop-screen{
    display: flex;
    align-items: center;
}
.hero-container{
    display: flex;
    background-color: #ece3e3;
    width: 100%;
    flex-direction: column;
    padding: 10px 50px;
}
.h1-section{
    display: block;
    max-width: 700px;
    font-size: 45px;
    font-weight: 500;
}
.h1-section span{
    color: #4338CA;
}
.hero-p{
    max-width: 300px;
    margin-bottom: 20px;
}
.hero-image{
    max-width: 300px;
}
.section-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feature-container{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    padding: 40px;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 10px 10px 15px -10px black;
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s;
}
.feature-container:hover{
    scale: 1.02;
    transform: translateY(-10px);
}
.feature-container img{
    max-width: 100%;
    margin-bottom: 10px;
    border: solid 1px #4338CA;
    border-radius: 10px;
}
.feature-container h4{
    text-decoration: underline;
}
.feature-container p{
    font-size: 12px;
}
.feature-container a{
    color: #4338CA;
    font-size: 12px;
}
.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.ft{
    display: flex;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    margin-top: 30px 0;
    text-decoration: underline;
}
.col2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px 0;
}
footer{
    display: flex;
    flex-direction: column;
    background-color: #e0d7d7;
    padding: 0 30px;
}
.col3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.col3 p{
    font-weight: bold;
    margin-bottom: 10px;
}
.col3 li{
    list-style: none;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 12px;
}
.col3 li:hover{
    text-decoration: underline;
}
select{
    border: solid 1px #4F46E5;
    padding: 5px;
    cursor:pointer;
    border-radius: 10px;
    background-color: transparent;
}
.email{
    display: flex;
    justify-content: center;
    margin: 20px;
    flex-direction: row;
}
.feature-section{
    padding: 20px 0;
}
.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0d7d7;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px -10px black;
}
form p{
    font-size: 12px;
}
form a{
    font-size: 12px;
    text-decoration: none;
    margin-bottom: 10px
}
form h3{
    margin-bottom: 10px;
}
input{
    padding: 10px;
    border: 1px solid #4f46e5;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
}
/* media query */
@media (max-width:899px) {
    .desktop-screen{
        display: none;
    }
    .container{
        position: absolute;
        top:50px;
        right: 0;
        gap: 10px;
        padding-bottom: 15px;
        padding-left: 10px;
        background-color: #ffff;
        display: flex;
        flex-direction: column;
    }
    
    .small-screen-nav-ul{
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        /* background-color: #ffff; */
    }
    .small-screen-nav-li{
        margin-bottom: 10px;
        cursor: pointer;
        list-style: none;
    }
.login-btn{
    padding: 10px;
    margin-right: 5px;
    border-radius: 10px;
    border: 1px solid black;
    transition: all 0.3s;
}
.btn{
    background-color: #4f46e5;
    color: #ffff;
    border-radius: 10px;
    border: 1px solid #4F46E5;
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover{
    background-color: #4338CA;
    border: 1px solid #4338CA;
}
.login-btn:hover{
    background-color: #e0d7d7;
}
.small-screen-nav-li {
  position: relative;
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  cursor: pointer;
}

.small-screen-nav-li::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #4F46E5;
  transition: width 0.3s ease-in-out;
}
.small-screen-nav-li:hover::after {
  width: 100%;
}
    
.section-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.section-row section{
    padding:15px 0;
}
.hero-container{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .col3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
}